# Discord Bot
DISCORD_TOKEN=seu_token_aqui
DISCORD_CLIENT_ID=seu_client_id_aqui

# Configuração do Banco de Dados PostgreSQL (Conexão direta)
DATABASE_URL=postgresql://postgres:[PASSWORD]@[HOST]:5432/postgres
DATABASE_POOL_MIN_SIZE=1
DATABASE_POOL_MAX_SIZE=5
